.timelineContainer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timelineRow {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ced6e0;
  border-bottom: 1px solid black;
  margin: 0; /* Remove any margins */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.rowPill {
  width: 100%;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  position: relative;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.closeBtn {
  display: none; /* Initially hide the close button */
  position: absolute;
  top: 50%;
  right: 0.5rem; /* Adjust the distance from the right edge */
  transform: translateY(-50%);
}

.rowPill:hover .closeBtn {
  display: inline-block; /* Show the close button when the cursor hovers over the row pill */
}

.rowPill p {
  margin: 0 auto; /* Center the text horizontally */
}

.rowPill.dragging {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grabbing;
}

@media screen and (max-width: 768px) {
  .rowPill {
    font-size: 0.6rem;
  }
}