.controlsContainer {
    display: flex;
    align-items: center;
}
  
.Display {
    flex: 1;
}
  
.PlayPauseBtn {
    flex: 1;
    margin: 0 auto;
}

.SpeedBtn {
    flex: 0;
    margin-left: auto;
}